@model PaginationVehicleViewModel

@{
    ViewData["Title"] = "Автомобили";
}

<h1>Доступные автомобили</h1>

<div>
    <a class="btn btn-primary mr-2" asp-action="Create">Добавить новый автомобиль</a>
    <a class="btn btn-outline-info mr-2" asp-controller="Engine" asp-action="Index">Двигатели</a>
    <a class="btn btn-outline-info mr-2" asp-controller="Transmission" asp-action="Index">Коробки передач</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.First().BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.First().ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.First().Engine.EngineType) @Html.DisplayNameFor(model => model.Vehicles.First().Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.First().AirConditioning)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Engine.EngineType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirConditioning)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger float-end" asp-controller="Vehicle" asp-action="Remove" asp-route-vehicleId="@item.Id"> Удалить</a>              @*todo: добавить модальное окно*@
                    <a class="btn btn-sm btn-warning me-2 float-end" asp-controller="Vehicle" asp-action="Edit" asp-route-vehicleId="@item.Id"> Редактировать</a>
                    @*<a class="btn btn-sm btn-info me-2 float-end" asp-action="Details" asp-route-userid="@item.Id"> Подробней</a>*@   @*todo: вернуть эту кнопку или добавить всю инфу в таблицу*@
                </td>
            </tr>
        }
    </tbody>
</table>

<page-link page-model="Model.Page" page-action="Index"></page-link>


