@model IEnumerable<CarServicesViewModel>

@{
    ViewData["Title"] = "Заказ услуг";
}


<div>
    <div class="d-inline-block"><h3>Доступные усуги для вашего автомобиля</h3></div>
    <div class="float-end">
        <button type="button" onclick="getBasket('@ViewBag.carId')" class="btn btn-success position-relative mr-2" data-bs-toggle="modal" data-bs-target="#basketModal">
            <img class="me-2" src="~/img/basket2.png" />
            Корзина
            @if (ViewBag.amount > 0)
            {
                <span id="order_counter" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @ViewBag.amount
                </span>
            }
            else
            {
                <span id="order_counter" class="visually-hidden position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    0
                </span>
            }
        </button>
    </div>
</div>


@if (Model.Any())
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (!ViewBag.basketItems.Contains(item.Id))
                        {
                            <div><button type="button" onclick="addServiceToBasket('@item.Id')" id="@(item.Id)" class="btn btn-sm btn-success mb-1 w-100 float-end">Добавить в корзину</button></div>
                        }
                        else
                        {
                            <div><button type="button" onclick="removeServiceFromBasket('@item.Id')" id="@(item.Id)" class="btn btn-sm btn-danger mb-1 w-100 float-end">Удалить из корзины</button></div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@*<page-link page-model="Model.Page" page-action="Index"></page-link>*@
<p id="carId" class="visually-hidden">@ViewBag.carId</p>    @*просто дикие костыли*@



<div class="modal fade" id="basketModal" tabindex="-1" aria-labelledby="basketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="basketContent" class="text-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернутся к списку услуг</button>
                @if (ViewBag.amount > 0)
                {
                    <a type="button" class="btn btn-primary" asp-action="SubmitOrder" asp-route-carId="@ViewBag.carId" id="submitOrder">Оформить заказ</a>
                }
                else
                {
                    <a type="button" class="btn btn-primary disabled" asp-action="SubmitOrder" asp-route-carId="@ViewBag.carId" id="submitOrder" aria-disabled="true">Оформить заказ</a>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/basketAjax.js" type="text/javascript"></script>
}
