@model IEnumerable<EngineInfoVM>

@{
    ViewData["Title"] = "Двигатели";
}
<h3>Доступные двигатели</h3>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Добавить новый двигатель
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-action="CreateEngine" asp-route-engineType="0">Дизельный</a></li>
        <li><a class="dropdown-item" asp-action="CreateEngine" asp-route-engineType="1">Бензиновый</a></li>
        <li><a class="dropdown-item" asp-action="CreateEngine" asp-route-engineType="2">Электрический</a></li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameEngine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginePowerKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEngine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginePowerKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                <a class="btn btn-sm btn-danger float-end" asp-action="Remove" asp-route-engineId="@item.Id"> Удалить</a>               @*todo: добавить модальное окно*@
                <a class="btn btn-sm btn-warning me-2 float-end" asp-action="Edit" asp-route-engineId="@item.Id"> Редактировать</a>
                @*<a class="btn btn-sm btn-info me-2 float-end" asp-action="Details" asp-route-engineId="@item.Id"> Подробней</a>*@     @*todo: вернуть эту кнопку или добавить всю инфу в таблицу*@
            </td>
        </tr>
}
    </tbody>
</table>
