@model IEnumerable<EngineInfoVM>

@{
    ViewData["Title"] = "Двигатели";
}
<h3>Доступные двигатели</h3>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Добавить новый двигатель
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" asp-action="CreateDieselEngine">Дизельный</a>
        <a class="dropdown-item" asp-action="CreatePetrolEngine">Бензиновый</a>
        <a class="dropdown-item" asp-action="CreateElectricEngine">Электрический</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameEngine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnginePowerKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameEngine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginePowerKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineType)
            </td>
            <td>
                <a class="btn btn-sm btn-info mr-1" asp-action="Details" asp-route-userid="@item.Id"> Подробней</a>
                <a class="btn btn-sm btn-warning mr-1" asp-action="Edit" asp-route-userid="@item.Id"> Редактировать</a>
                <a class="btn btn-sm btn-danger mr-1" asp-action="Remove" asp-route-userid="@item.Id"> Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
