@model IEnumerable<TransmissionInfoVM>

@{
    ViewData["Title"] = "Коробки передач";
}
<h3>Доступные коробки передач</h3>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Добавить новую коробку передач
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-action="CreateTransmission" asp-route-transmissionType="0">Автоматическую</a></li>
        <li><a class="dropdown-item" asp-action="CreateTransmission" asp-route-transmissionType="1">Механическую</a></li>
        <li><a class="dropdown-item" asp-action="CreateTransmission" asp-route-transmissionType="2">Роботизированую</a></li>
        <li><a class="dropdown-item" asp-action="CreateTransmission" asp-route-transmissionType="3">Вариатор</a></li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransmissionType)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger float-end" asp-action="Remove" asp-route-transmissionId="@item.Id"> Удалить</a>              @*todo: добавить модальное окно*@
                    <a class="btn btn-sm btn-warning me-2 float-end" asp-action="Edit" asp-route-transmissionId="@item.Id"> Редактировать</a>
                    @*<a class="btn btn-sm btn-info me-2 float-end" asp-action="Details" asp-route-userid="@item.Id"> Подробней</a>*@   @*todo: вернуть эту кнопку или добавить всю инфу в таблицу*@
                </td>
            </tr>
        }
    </tbody>
</table>
