@model IEnumerable<TransmissionInfoVM>

@{
    ViewData["Title"] = "Коробки передач";
}
<h3>Доступные коробки передач</h3>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Добавить новую коробку передач
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" asp-action="CreateAutomaticTransmission">Автоматическую</a>
        <a class="dropdown-item" asp-action="CreateMachanicTransmission">Механическую</a>
        <a class="dropdown-item" asp-action="CreateRoboticTransmission">Роботизированую</a>
        <a class="dropdown-item" asp-action="CreateVariatorTransmission">Вариатор</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransmissionType)
                </td>
                <td>
                    <a class="btn btn-sm btn-info mr-1" asp-action="Details" asp-route-userid="@item.Id"> Подробней</a>
                    <a class="btn btn-sm btn-warning mr-1" asp-action="Edit" asp-route-userid="@item.Id"> Редактировать</a>
                    <a class="btn btn-sm btn-danger mr-1" asp-action="Remove" asp-route-userid="@item.Id"> Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
